---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
const posts = await getCollection('blog');
type Props = CollectionEntry<'blog'>;
import Headers from '../../components/Headers.vue'

const { slug } = Astro.params;
const post = posts.find((page) => page.slug === slug);
if (!post) return Astro.redirect("/404");
const { Content, headings } = await post.render();


---

<BlogPost {...post.data}>
	<div class="mt-4 mb-8">
		<Headers headers={headings} url={slug!}/>
	</div>

	<div class="prose dark:prose-invert prose-blockquote:border-l-[#adff2f] prose-blockquote:font-light prose-blockquote:text-gray-3000 prose-headings:mt-12 prose-headings:mb-2 prose-h3:mb-0 w-full lg:!max-w-4xl !max-w-lg">
	<Content />
	</div>
</BlogPost>
