---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
const posts = await getCollection('blog');
type Props = CollectionEntry<'blog'>;
import Headers from '../../components/Headers.vue'

const { slug } = Astro.params;
const post = posts.find((page) => page.slug === slug);
if (!post) return Astro.redirect("/404");
const { Content, headings } = await post.render();


---

<BlogPost {...post.data}>
	<div class="mb-12">
		<pre class="m-0 p-0">Sections</pre>
		<Headers headers={headings} url={slug!}/>
	</div>

		<Content />
	<p class="text-sm">Comments coming soon**</p>
</BlogPost>
