---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Posts from '../../components/Posts.vue'

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Blog | Iyi."} description={"Thought experiments and other writing from Iyimide Adekile"} />
	</head>
	<body>
		<Header />
		<main class=" lg:mx-auto max-w-6xl lg:px-24 px-8">
			<section>
				<Posts client:load/>
			</section>
		</main>
		<Footer />
	</body>
</html>
