@import '@fontsource-variable/hanken-grotesk';
@import '@fontsource/cascadia-code';

:root {
	--accent: #111111;
	--accent-dark: #638a00;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

body {
	font-family: 'Cascadia Code', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--accent);
	color: #eeeeee !important;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px !important;
	line-height: 1.9;
}

strong,
b {
	font-weight: 700;
}

p {
	@apply text-[18px]
}

.prose p {
	line-height: 2;
	@apply leading-loose text-[18px];
}

input {
	font-size: 16px;
}


blockquote {
	border-left: 4px solid #adff2f;
	padding: 0 0 0 20px;
	font-size: 1.333em;
	font-style: italic;
	font-weight: 300;
	@apply my-12;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 16px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

hr {
	margin-block: 2.5em;
}

a {
	@apply text-[#EFBBC0] hover:underline hover:text-[#EECFD2] duration-300;
}

h1 {
	@apply text-5xl mb-3;
}

h2 {
	@apply text-4xl;
}

h3 {
	@apply sm:text-3xl text-2xl font-semibold;
}

h4 {
	@apply md:text-3xl text-2xl font-bold;
}

h5 {
	@apply md:text-2xl mt-4 mb-2.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold;
}

#project ul li {
	list-style: circle;
	margin-left: 12px;
}

#project {
	text-wrap: balance;
	margin-bottom: 4rem;
}

#project {
	h1,
	h2,
	h3,
	h4 {
		@apply mt-12 mb-2;
	}
}

#project {
	h5,
	h6 {
		@apply mt-8 mb-3;
	}
}

#blog {
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mt-12 mb-2;
	}
}

#project img {
	max-width: calc(100% - 3rem);
	max-height: 400px;
	margin-block: 15px;
}

#blog li {
	list-style-type: disc;
	margin-left: 12px;
}

#project {
	ul li {
		list-style-type: disc;
		@apply my-3;
	}
}
