---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About page.. Iyimide Adekile"
	pubDate={new Date('22 March 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<p> I'm a self-taught software engineer with a wide range of interests. </p>
<p>I was initially enrolled as an Electrical Engineering Major at the University of Lagos, before leaving to pursue a career in technology.</p>

 <p>While i learnt to code, i read a lot of great stuff on the internet, the internet can sometimes be one big library where you can learn about anything if you're curious enough</p>
 <p>I read so many fantastic blog posts ( from Naval, levelsio, Paul Graham to name a few ) and got inspired to blog too.</p>
 <p>In a big way, these posts set me on a good path, it shaped my perspective to see the world and society as an unfinished product</p>
 <p>To realise that there's still so much to stuff to to do and build, like the homie Naval said</p>
 <blockquote>"To give society what it wants but does not yet know how to get"</blockquote>

 <p>I wanna pay the debts back and share my journey and thoughts on here.</p>
 <p>I hope you learn something and get the confidence to pursue your projects too.</p>
 <p>Blogging has gotten less popular now, people do this type of thing on twitter but my brain can't handle that app for now. Too many thoughts, less thoughts are better. Less noise.</p>
 <p>I hope you enjoy long-form! cuz my thought streams are usually in the 8-12k words range.</p>
 <blockqoute>¡Viva los sueños del soñador!</blockqoute>
</Layout>
