---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Personal Lore"
	description="Iyi core core"
	pubDate={new Date('22 March 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>I like to blog because writing helps clear the mind and put shape into thoughts</p>
<p>I read a book about investing from Robert Kiyosaki called "What the rich invest in that the poor and middle class do not".
	I was around 17. 
	That was the first time I felt a spark that I could actually build something.. like a business or a company.
I soon forgot what i read and went on to university. 2 years later when i burnt out so bad I just quit university and focused on learning to code. 
 </p>

 <p>My taste started to evolve by learning to code and because I spent so much time on the internet, I read alot of good blogs! </p>
 <p>I read so many fantastic blog posts (from Naval, levelsio, Paul Graham) and got inspired to build my own things too. </p>
 <p>In a big way, these blog posts shaped my mental models to see the world and society as an unfinished product</p>
 <p>To realise that I can put things into the world, and like Naval described</p>
 <blockquote>"To give society what it wants but does not yet know how to get"</blockquote>

 <p>I wanna pay the debts back and share my journey and thoughts on here.</p>
 <p>Usually people do this on twitter but my brain can't handle that app anymore. It drains the tranquil nature of my mind (which i worked hard to obtain)</p>
 <p>I don't believe there's any nobility in failure, but we all fail the nonetheless.</p>
 <p>I got some of my friends to work with me on an app, I was the only coder.. I got anxious and kept messing up the codebase so I never launched the app</p>
 <p>I wasted their time and mine and I felt horrible. You will make mistakes too, learn from them, be honest with yourself and others.</p>
 <p>To build the future, you must live in it. You must observe. I spent a long time doing that. Just observing and making mental notes of everything. </p>
 <p>I don't feel ready to be a founder. But since I can spin up a mean website,  my fingers remain crossed. </p>
 
 <blockqoute>¡Viva los sueños del soñador!</blockqoute>
</Layout>
