---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Lore"
	description="Iyi core"
	pubDate={new Date('22 March 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>I like to blog because writing helps clear the mind and give shape to obtuse thoughts</p>
<p>I read a book about investing from Robert Kiyosaki called "What the rich invest in that the poor and middle class do not". 
I was 16 at the time, That was the first time I felt a spark that I could actually build something.. like a business or a company.
I soon forgot all about it and went on to university to study engineering. 
 </p>
 <p>I realised that when i graduate, I'd just learn to code and try build things, so why wait?</p>
 <p>I left during my first year focused on programming and pursuing other interests.</p>

 <p>While i learnt to code, i read a lot of great stuff on the internet, the internet can sometimes be one big library where you can learn about anything if you're curious enough</p>
 <p>I read so many fantastic blog posts ( from Naval, levelsio, Paul Graham to name a few ) and got inspired to blog too.</p>
 <p>In a big way, these posts set me on a great path, it shaped my perspective to see the world and society as an unfinished product</p>
 <p>To realise that I can put things into the world, and like Naval said</p>
 <blockquote>"To give society what it wants but does not yet know how to get"</blockquote>

 <p>I wanna pay the debts back and share my journey and thoughts on here.</p>
 <p>Blogging has gotten less popular now, People do this type of thing on twitter but my brain can't handle that app for now. Too distracting</p>
 <p>I don't believe there's any nobility in failure, but we all fail nonetheless.</p>
 <p>I got some of my friends to work with me on an app, I was the only coder.. I got anxious and kept messing up the codebase so I never launched the app</p>
 <p>I wasted their time and mine and I felt horrible. You will make mistakes too, learn from them, be honest with yourself and others.</p>
 <p>To build the future, you must live in it. You must observe. I spent a long time doing that. Just observing and making mental notes of everything. </p>
 <p>I don't feel ready to be a founder. But I'm a decent coder, so my fingers remain crossed. </p>
 
 <blockqoute>¡Viva los sueños del soñador!</blockqoute>
</Layout>
