---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';


const featuredBlogEntries = await getCollection('blog', ({ data }) => {
  return data.featured === true;
});
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2 class="mb-4 text-4xl font-extrabold text-blue-200">Hey, welcome.</h2>
			<p>I build websites and apps for work and fun but mostly profit.</p>
			<p>I read sparsely and as widely but my favorite book so far is <b class="mx-1.5">Mastery</b> by Robert Green.</p>
			<p>Current fixation -  An e-commerce platform for the African market that enables global reach.</p>

		<h2>Blog Posts</h2>

		</main>

		<Footer />
	</body>
</html>

<style>
 h4 {
	text-align: left;
	margin-block: 14px;
 }
</style>
