---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Featured from '../components/Featured.vue';
import Projects from '../components/Projects.vue';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-5xl mx-auto lg:p-0 p-6">
			<h2 class="my-4 lg:text-4xl text-2xl font-bold text-fuchsia-200">Welcome</h2>
			<p>I like to talk, sometimes to my computer with code, other times to humans, in my talks and writing.</p>
			<p>Most of my writing is on this website.</p>
			<p>I'd like to give more talks, but here's one i gave on <a href="https://www.youtube.com/watch?app=desktop&v=wwSpbuK_WQ0">creativity and obsession.</a> </p>
			<p>If you're hosting a developer conference, I'd love to speak about dart. Feel free to shoot me more <a href="mailto:iyimide@proton.me">details.</a></p>
			<p>On my blog you'll find me yapping about programming, time travel and frank ocean's music.</p>
			
		<a class="underline mr-4" href="https://twitter.com/iyifrr">Twitter</a> 
		<a class="underline" href="https://github.com/iyifr">Github</a>

		<h2 class="text-2xl font-bold mt-12 mb-0">Previous Yappings.</h2>
		<Featured client:load/>
		<Projects client:load/>
		</main>
		<Footer />
	</body>
</html>

<style>
 h4 {
	text-align: left;
	margin-block: 14px;
 }
</style>
