---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Featured from '../components/Featured.vue';
import Projects from '../components/Projects.vue';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-5xl mx-auto lg:p-0 p-6">
			<h2 class="mb-4 text-3xl font-bold text-fuchsia-200">Iyifr.</h2>
			<p>I'm a programmer that build apps on the web.</p>
			<p>I read sparsely and widely but my favorite book so far is <b class="mx-0.5">Mastery</b> by Robert Greene.</p>
			<p>Currently fixated on building e-commerce enablers for africa's entrepreneurs.</p>
			<p>On my blog you'll find stuff about technology, time travel and frank ocean's music.</p>

		<h2 class="text-2xl font-bold mt-12 mb-0">Featured posts</h2>
		<Featured client:load/>

		<Projects client:load/>
		</main>

		<Footer />
	</body>
</html>

<style>
 h4 {
	text-align: left;
	margin-block: 14px;
 }
</style>
