---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Featured from '../components/Featured.vue';
import Projects from '../components/Projects.vue';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-5xl mx-auto p-8 xl:p-0 mt-4 lg:mt-12 text-balance">
			<h2 class="my-8 lg:text-4xl text-3xl font-bold mt-4">Hey!</h2>
			<p>I'm iyi, a programmer and (bad) designer</p>
			<p>This is where I frequently yap, about anything i'm into at the moment.</p>
			<p class="mt-8">I like to tinker, in a principled <a href="https://www.youtube.com/watch?v=YyIQKBzIuBY&t=1647s" target="_blank">way.</a></p>

			<p>I try to make my beliefs work <a href="https://meltingasphalt.com/crony-beliefs/">hard</a>.</p>
			<p class = "mt-8">I obsess over spacing, hierarchy and mood in design</p>
			<p>I obsess over perfomance, elegance and range in programming.</p>

		<div class="mt-8">
		<a class="underline" href="https://github.com/iyifr">Some code lives here.</a>

		<Featured client:load/>
		<Projects client:load/>

		<p class="text-center text-sm">chemical scum dreaming of distant quasars.</p>
		</main>
		<Footer />
	</body>
</html>

<style>
 h4 {
	text-align: left;
	margin-block: 14px;
 }
</style>
