---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Featured from '../components/Featured.vue';
import Projects from '../components/Projects.vue';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-5xl mx-auto px-8 xl:p-0 lg:mt-8 text-balance">
			<h2 class="lg:my-8 my-4 lg:text-4xl text-3xl font-bold">Iyimide.</h2>

			<section class="md:mt-8 mt-6 flex flex-col md:gap-2 gap-1">
			<p>Troubled.</p>
			<p>Labeled <i>gifted</i> as a kid.</p>
			<p>Attempting to be brilliant, stumbles <strong>often</strong></p>
			</section>

			<div class="mt-8">
				<p>I write for me, i publish for you to see, to feel, to reason.</p>
			</div>
<!-- 
			<div class="mt-8 flex flex-col gap-y-4">
				<strong>Attempt at normal bio</strong>
				<p>I "work" as a software engineer now after i was told i don't have the discipline for programming.</p>
				<p>I often struggle to seperate work from life.</p>
				<p>I write, design & code.. and i try to do all at first rate because i often execute my ideas alone.</p>
				<p>On my blog, i try to think through some of these ideas with you readers, other times i'm just thinking out loud about past events.</p>

				<p>Oh and i'll share things new art i consume has revealed to me.</p>
			</div> -->

			<p class="mt-12"><strong>TL;DR</strong>: A weird tech, art bro hybrid that keeps saying things you won't hear anywhere else. Slightly annoying. A bit provocative.</p>

		<Featured client:load/>
		<Projects client:load/>

		<p class="text-center text-sm">a lump of chemical scum dreaming of distant quasars.</p>
		</main>
		<Footer />
	</body>
</html>

<style>
 h4 {
	text-align: left;
	margin-block: 14px;
 }
</style>
