---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Featured from '../components/Featured.vue';
import Projects from '../components/Projects.vue';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-5xl mx-auto p-8 xl:p-0 lg:mt-12 text-balance">
			<h2 class="my-8 lg:text-4xl text-3xl font-bold mt-4">Hey!</h2>

			<section class="mt-8 flex flex-col gap-2">
			<p>I'm iyi, a person (really).</p>
			<p>This is my internet yard and web-log (blog).</p>
			<p>I come here to yap, about anything i'm into at the moment.</p>
			</section>

			<section class="my-12 lg:my-8 flex flex-col gap-2">
			<p>I like to tinker alot, in a principled <a href="https://www.youtube.com/watch?v=YyIQKBzIuBY&t=1647s" target="_blank">way.</a></p>
			<p>I code, design, and try all sorts of things.</p>
			<p>I flirt with the idea of becoming a polymath, but i really love programming!</p>
			</section>

			<section class="flex flex-col gap-2"> 
				<p>I make my beliefs work <a href="https://meltingasphalt.com/crony-beliefs/">hard</a>, shouldn't we all?</p>
				<p>I believe AI is mostly useful and good ?</p>
				<p>I believe all social media is a massive time sink.</p>
				<p>I believe fast-food-like, mainstream music sucks.</p>
				<p>Okay, and finally, accelerate!</p>
			</section>

			<div class="mt-8"/>
			<a class="text-sm !mt-12">Online coding profile (the only one i use)</a>

		<Featured client:load/>
		<Projects client:load/>

		<p class="text-center text-sm">a lump of chemical scum dreaming of distant quasars.</p>
		</main>
		<Footer />
	</body>
</html>

<style>
 h4 {
	text-align: left;
	margin-block: 14px;
 }
</style>
