---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		<p>I like to read, build and think.</p>

	Here for blog posts ? <p>Start <a href="/blog/a-letter-to-all-frank-ocean-fans">here</a></p>

		</main>
		<Footer />
	</body>
</html>

<style>
 main {
	text-align: center;
 }

 h4 {
	text-align: left;
	margin-block: 14px;
 }
</style>
