---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		<p>It's pronounced "Iyi-mi-de"</p>
		<p>Overconfident svelte programmer. I build startups too. </p>
		<p>My philosophy is optimism.  </p>
		<p>It's gonna get better&#8482</p>
		<p>Start here for some <a href="about">personal lore</a></p>

	<p>My blog posts are <a href="/blog"> here</a></p>

		</main>
		<Footer />
	</body>
</html>

<style>
 main {
	text-align: center;
 }

 h4 {
	text-align: left;
	margin-block: 14px;
 }
</style>
