---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
		<nav class="flex flex-row items-center sm:justify-between justify-center lg:px-12">

			<a href="/" class="sm:block hidden">
			<img src = "/iyifr.png" class="lg:w-44 w-32"/>
			</a>
			<span class="flex-row items-center md:gap-12 sm:p-0 px-4 gap-24 py-4">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog" class="mx-8 sm:mx-12">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			</span>
		</nav>
</header>

