---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
---

<header>
		<nav class="flex flex-row items-center sm:justify-between justify-center lg:px-12 py-8">

			<a href="/" class="sm:block hidden">
			<Image src = "/Union.svg" class="lg:w-12 w-12" alt="website logo." width={44} height={44} loading={"eager"}/>
			</a>
			<span class="flex-row items-center md:gap-12 sm:p-0 px-4 gap-24 py-4">
			<HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="/blog" class="mx-8 sm:mx-12">blog</HeaderLink>
			<HeaderLink href="/projects/h4">H*4</HeaderLink>
			</span>
		</nav>
</header>

