---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
		<nav class="flex flex-row items-center justify-between lg:px-12">

			<a href="/">
			<img src = "/iyifr.png" class="lg:w-56 w-32"/>
			</a>

			<span class="md:flex hidden flex-row items-center gap-12">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Thoughts</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			</span>
		</nav>
</header>

